<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Links</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <style type="text/css">
      li {
        padding: 2px;
      }

      .dropdown-divider {
        margin: 0.4rem 0 0.15rem;
      }

      .link-table {
        display: flex;
        flex-wrap: wrap;
      }

      .dropdown {
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc(100% / 2 - 20px / 2);
        height: 100px;
      }

      .dropdown:nth-child(2n) {
        margin-right: 0;
      }

      .btn {
        margin: 1px;
      }

      #edit-mode-button-list {
        position: fixed;
        right: 50px;
        bottom: 50px;
      }

      #start-edit-mode-button,
      #edit-button {
        background-color: plum;
        transition: 1s;
        opacity: 0.6;
        outline: none;
        box-shadow: none;
      }

      #start-edit-mode-button:hover,
      #edit-button:hover {
        opacity: 1;
      }

      .fade-alert-enter-from,
      .fade-alert-leave-to {
        opacity: 0;
      }

      .fade-alert-enter-active {
        transition: opacity 0.3s ease-in;
      }

      .fade-alert-leave-active {
        transition: opacity 0.5s ease-out;
      }

      .fade-alert-enter-to,
      .fade-alert-leave-from {
        opacity: 1;
      }

      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div v-if="!isEditMode" class="p-3 mb-4 bg-light rounded-3" v-cloak>
        <div class="container-fluid py-5">
          <h1 class="display-4 fw-bold">My Links</h1>
          <p class="col-md-8 fs-4">This page allows you to quickly copy the NAME, URL of your favorite links.</p>
        </div>
      </div>
      <div v-else class="p-3 mb-4 rounded-3" style="background-color: plum" v-cloak>
        <div class="container-fluid py-5">
          <h1 class="display-4 fw-bold text-white">It's in edit mode!</h1>
          <p class="col-md-8 fs-4 text-white">You can add, delete, or edit the links.</p>
        </div>
      </div>

      <transition name="fade-alert">
        <div class="alert alert-info fw-bold fs-2 mx-2" role="alert" v-if="alertIsVisible" v-cloak>Updated the link data!</div>
      </transition>

      <div class="link-table" v-cloak>
        <div v-for="dropdownItem in viewingItems" class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >{{ dropdownItem.dropdownTitle }}</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li v-for="(data, index) in dropdownItem.linkData" @click="$event.stopPropagation()">
              <div class="btn-toolbar" role="toolbar">
                <a class="btn btn-primary d-flex align-items-center" :href="data.url" role="button" target="_blank">{{ data.name }}</a>
                <button type="button" class="btn btn-success" :value="data.name" @click="copyToClipboard(data.name)">NAME</button>
                <button type="button" class="btn btn-warning" :value="data.url" @click="copyToClipboard(data.url)">URL</button>
                <button
                  v-if="isEditMode"
                  type="button"
                  id="edit-button"
                  class="btn text-white"
                  style="background-color: plum"
                  @click="setOldEditInfo(dropdownItem.dropdownTitle, data); showEditModal()"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                </button>
                <button v-if="isEditMode" type="button" id="delete-button" class="btn btn-danger text-white" @click="deleteItem(dropdownItem.dropdownTitle, data)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </div>
              <div class="dropdown-divider" v-if="index != Object.keys(dropdownItem.linkData).length - 1"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" @click="$event.stopPropagation()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit "{{ editInfo.title }}"</h5>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="editNameInput" class="form-label">NAME</label>
                  <input type="text" class="form-control" id="editNameInput" v-model="editInfo.name" />
                </div>
                <div class="mb-3">
                  <label for="editUrlInput" class="form-label">URL</label>
                  <input type="url" class="form-control" id="editUrlInput" v-model="editInfo.url" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="saveTemporaryChanges(editInfo)">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div id="updateIndexedDbWarningModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateIndexedDbWarningModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="text-white bg-danger modal-content">
            <div class="modal-header">
              <h5 id="updateIndexedDbWarningModalLabel" class="modal-title">Warning!</h5>
            </div>
            <div class="modal-body">Update your indexed DB from your html file?</div>
            <div class="modal-footer">
              <button type="button" id="NoButton" class="btn btn-dark" data-bs-dismiss="modal">No</button>
              <button type="button" id="OkeyButton" class="btn text-danger btn-light" data-bs-dismiss="modal" @click="enableUpdateIndexedDb">Okey</button>
            </div>
          </div>
        </div>
      </div>

      <div id="edit-mode-button-list" class="btn-toolbar" role="toolbar">
        <div v-if="isEditMode" class="btn-group pt-2 me-2" role="group" v-cloak>
          <button type="button" id="cancel-button" class="btn btn-danger text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path
                d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"
              />
            </svg>
          </button>
        </div>
        <div v-if="isEditMode" class="btn-group pt-2 me-4" role="group" v-cloak>
          <button type="button" id="save-button" class="btn btn-info text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
              <path
                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"
              />
            </svg>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="start-edit-mode-button" class="btn text-white" @click="toggleEditMode">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/vue@next"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dexie/3.2.0-beta-2/dexie.min.js"
      integrity="sha512-A20qQ/PvLAi/+0D7U05bhIBk5D4zD7BIrT7M4zS4M/vz48MooIRq3PDFAHvqmFV73IAWG+8Y29AYtqU6hxeJJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      const databaseName = "linkDB";
      const linkObjectStoreName = "links";
    </script>

    <script>
      Vue.createApp({
        data() {
          return {
            dropdownItems: [],
            canUpdateIndexedDB: false,
            alertIsVisible: false,
            isEditMode: false,
            oldEditInfo: { title: "", name: "", url: "" },
            editInfo: { title: "", name: "", url: "" },
            temporaryItems: [],
          };
        },
        mounted() {
          if (this.dropdownItems?.length) {
            // このファイルに記述されているリンクデータに何かが入っていれば、ユーザの意思を確認して、Indexed DBを更新する
            this.showWarningModal();
            this.waitCanUpdateIndexedDb().then(() => {
              // ユーザがOKと答えたら
              if (this.canUpdateIndexedDB) {
                this.clearIndexedDb();
                this.updateIndexedDb();
              }
            });
          } else {
            // このファイルに記述されているリンクデータがなければ、Indexed DBから読み込む
            this.loadFromIndexedDb();
          }
        },
        methods: {
          copyToClipboard(text) {
            // Create new element
            let element = document.createElement("textarea");

            // Set value (string to be copied)
            element.value = text;

            // Set non-editable to avoid focus and move outside of view
            element.setAttribute("readonly", "");
            element.style = { position: "absolute", left: "-9999px" };
            document.body.appendChild(element);

            // Select text inside element
            element.select();

            // Copy text to clipboard
            document.execCommand("copy");

            // Remove temporary element
            document.body.removeChild(element);
          },
          async waitCanUpdateIndexedDb() {
            // ユーザがボタンを押下するまで待つ
            const awaitForClick = async (targets) => {
              return new Promise((resolve) => {
                const listener = resolve;
                for (const target of targets) {
                  target.addEventListener("click", listener, { once: true });
                }
              });
            };

            const buttons = [document.querySelector("#NoButton"), document.querySelector("#OkeyButton")];
            const button = console.log("start awaitForClick");
            await awaitForClick(buttons);
            console.log("end awaitForClick");
          },
          loadFromIndexedDb() {
            let openRequest = indexedDB.open(databaseName, 1);

            // データベース更新が必要ならば
            openRequest.onupgradeneeded = () => {
              let db = openRequest.result;
              if (!db.objectStoreNames.contains(linkObjectStoreName)) {
                db.createObjectStore(linkObjectStoreName, { keyPath: "linkId", autoIncrement: true });
              }
            };

            // データベースが開けなければ、エラーを出力
            openRequest.onerror = () => console.error("Error", openResult.error);

            // データベースが準備完了であれば
            openRequest.onsuccess = () => {
              let db = openRequest.result;

              // Indexed DBから読み込む
              let transaction = db.transaction(linkObjectStoreName, "readonly");
              let links = transaction.objectStore(linkObjectStoreName);

              let getRequest = links.getAll();
              getRequest.onsuccess = () => (this.dropdownItems = getRequest.result);
            };
          },
          clearIndexedDb() {
            let openRequest = indexedDB.open(databaseName, 1);

            // データベース更新が必要ならば
            openRequest.onupgradeneeded = () => {
              console.log("onupgradeneeded");
              let db = openRequest.result;
              if (!db.objectStoreNames.contains(linkObjectStoreName)) {
                db.createObjectStore(linkObjectStoreName, { keyPath: "linkId", autoIncrement: true });
              }
            };

            openRequest.onsuccess = () => {
              console.log("onsuccess");
              let db = openRequest.result;
              let transaction = db.transaction(linkObjectStoreName, "readwrite");
              let links = transaction.objectStore(linkObjectStoreName);
              links.clear();
              transaction.oncomplete = function () {
                console.log("Complete clear");
              };
            };
          },
          updateIndexedDb() {
            let openRequest = indexedDB.open(databaseName, 1);

            openRequest.onupgradeneeded = () => {
              let db = openRequest.result;
              if (!db.objectStoreNames.contains(linkObjectStoreName)) {
                db.createObjectStore(linkObjectStoreName, { keyPath: "linkId", autoIncrement: true });
              }
            };

            openRequest.onsuccess = () => {
              let db = openRequest.result;
              let transaction = db.transaction(linkObjectStoreName, "readwrite");
              let links = transaction.objectStore(linkObjectStoreName);

              for (const item of this.dropdownItems) {
                let addRequest = links.add(Dexie.deepClone(item));
              }

              // 更新が終わったら、アラートを表示する
              transaction.oncomplete = () => {
                this.toggleAlertIsVisible();
                setTimeout(this.toggleAlertIsVisible, 3000);
              };
            };
          },
          showWarningModal() {
            const warningModal = document.getElementById("updateIndexedDbWarningModal");
            const modal = new bootstrap.Modal(warningModal, { backdrop: "static", keyboard: false });
            modal.show();
          },
          showEditModal() {
            const editModal = document.getElementById("editModal");
            const modal = new bootstrap.Modal(editModal, { backdrop: "true", keyboard: true });
            modal.show();
          },
          toggleAlertIsVisible() {
            this.alertIsVisible = !this.alertIsVisible;
          },
          enableUpdateIndexedDb() {
            this.canUpdateIndexedDB = true;
          },
          toggleEditMode() {
            if (this.isEditMode) {
              // ...
            } else {
              this.isEditMode = true;
              this.temporaryItems = JSON.parse(JSON.stringify(this.dropdownItems));
            }
          },
          setOldEditInfo(title, linkData) {
            this.editInfo.title = title;
            this.editInfo.name = linkData.name;
            this.editInfo.url = linkData.url;

            this.oldEditInfo = Object.assign({}, this.editInfo);
          },
          deleteItem(title, linkData) {
            const targetTitleIndex = this.temporaryItems.findIndex((item) => item.dropdownTitle === title);
            const targetDataIndex = this.temporaryItems[targetTitleIndex].linkData.findIndex((data) => data.name === linkData.name && data.url === linkData.url);
            this.temporaryItems[targetTitleIndex].linkData.splice(targetDataIndex, 1);
            if (!this.temporaryItems[targetTitleIndex].linkData.length) {
              this.temporaryItems.splice(targetTitleIndex, 1);
            }
          },
          saveTemporaryChanges(editInfo) {
            const { title, ...data } = editInfo;
            const targetTitleIndex = this.temporaryItems.findIndex((item) => item.dropdownTitle === title);
            const targetDataIndex = this.temporaryItems[targetTitleIndex].linkData.findIndex((data) => data.name === this.oldEditInfo.name && data.url === this.oldEditInfo.url);

            this.temporaryItems[targetTitleIndex].linkData[targetDataIndex] = data;

            console.log(this.oldEditInfo);
            console.log(this.editInfo);
          },
        },
        computed: {
          viewingItems: function () {
            return this.isEditMode ? this.temporaryItems : this.dropdownItems;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>

<!-- 
  <dropdownItems examples>
  dropdownItems: [
    {
      dropdownTitle: "アルゴリズム勉強用資料",
      linkData: [
        {
          name: "Java でアッカーマン関数を実装しよう - にょきにょきブログ",
          url: "https://aoking.hatenablog.jp/entry/2015/06/30/162537",
        },
        {
          name: "アルゴリズムの「計算量理論」の講義ノートPDF。複雑性クラスP/NPの分類や「計算可能性」の理論を，独学で学ぶ教科書",
          url: "https://language-and-engineering.hatenablog.jp/entry/20140613/AlgorithmComputationalComplexityTheoryPDFLectureNotes",
        },
        {
          name: "遺伝的アルゴリズム入門｜楽しく学べる動画とスライド-Mayonez",
          url: "https://mayonez.jp/tutorial",
        },
      ],
    },
    {
      dropdownTitle: "ニュースサイト",
      linkData: [
        {
          name: "IT総合情報ポータル「ITmedia」",
          url: "https://www.itmedia.co.jp/",
        },
        {
          name: "Gigazine",
          url: "https://gigazine.net/",
        },
      ],
    },
    {
      dropdownTitle: "自己学習用のGoogle Docs",
      linkData: [
        {
          name: "仕事が速い人はどんなメールを書いているのか",
          url: "#",
        },
        {
          name: "食べれば食べるほど若くなる法―――「肌」「髪」「体」がよみがえる！",
          url: "#",
        },
      ],
    },
  ]
-->
